<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Leavers.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Leavers.My.MySettings>
            <setting name="LDAP_IP" serializeAs="String">
                <value>174.13.40.1</value>
            </setting>
            <setting name="Homdirs" serializeAs="String">
                <value>\\dcpcls01\homedirs\</value>
            </setting>
            <setting name="Profile" serializeAs="String">
                <value>\\Dcpcls02\Profiles\Terminal\</value>
            </setting>
            <setting name="appdata_terminal" serializeAs="String">
                <value>\\Dcpcls02\Appdata\Terminal\</value>
            </setting>
            <setting name="appdata_workstation" serializeAs="String">
                <value>\\Dcpcls02\Appdata\Workstation\</value>
            </setting>
            <setting name="appdata_laptop" serializeAs="String">
                <value>\\Dcpcls02\Appdata\Laptop\</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Probation2011</value>
            </setting>
            <setting name="LDAP_Path" serializeAs="String">
                <value>OU=Users, OU=Devon-Cornwall, OU=OMNI Areas, OU=OMNI, DC=ad, DC=nps, DC=internal</value>
            </setting>
        </Leavers.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
